@{
    ViewData["Title"] = "Home Page";
}
@model Category
<div class="head">
    <a asp-action="Index">
        <h1>Products</h1>
    </a>
    <h1>|</h1> <a asp-action="Categories">
        <h1>Categories</h1>
    </a>
</div>
<div class="content">
    <div class="left p-4 mr-3">
        <h1>New Category</h1>
        <form asp-action="AddCategory">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input class="form-control" asp-for="Name">
                <span asp-validation-for="Name"></span>
            </div>
                <button class="btn btn-primary">Create</button>
        </form>
        </div>
    <div class="right border-left border-dark p-4">
        <h1>Existing Categories</h1>
        @{
            foreach (var category in ViewBag.categories)
            {
                <a class="block" asp-action="CategoryDetails" asp-route-categoryId="@category.CatagoryId">@category.Name</a>
            }
        }
    </div>
</div>