@model Product
<div class="text-center">
    <h1>@Model.Name</h1>
</div>
<div class="content">
    <div class="left mr-5">
        <h3>Categories</h3>
        @{
            foreach (var category in ViewBag.ProductInCategories)
            {
                <p>- @category.Catagory.Name</p>
            }
        }
    </div>
    @{
        Association a = new Association
        {
            ProductId = Model.ProductId
        };
    }
    <partial name="_AddAssociations" model="@a"></partial>
</div>